<nav class="navbar navbar-expand-lg navbar-light bg-info  py-4 ",>
  <div class="container-fluid">

<a class="navbar-brand" href="/">
  <div> <img src="https://s3.amazonaws.com/logosnap/logos/2022/Aug/small-1575-62ed03e0d49fb.png" alt="..."></div>
</a>

    <div class=" d-flex justify-content-end ">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/auth/signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
