<div class="col-md-6">
    <label for="from1" class="form-label">From</label>
    <input type="text" class="form-control" name="from" id="from1">
</div>
<div class="col-md-6">
    <label for="to1" class="form-label">To</label>
    <input type="text" class="form-control" name="to" id="to1">
</div>
<div class="col-lg-6"> Journey date
<input type="date" name="juorneyDate" class="form-control">
<div class="input-group-addon">
    <span class="glyphicon glyphicon-th"></span>
</div>
</div>