<%-include('../../partials/head.ejs')%>
<div class="col-lg">
    <div class="col-lg-5 mx-auto shadow px-5 py-3 card card-body'">
        <h2 class="h2">Please give your Company information</h2>
        <% if(errors.length>0){ %>
          <div class=" mt-2"></div> 
          <div class="alert alert-danger" role="alert">
            <%=errors[0]%>
          </div>
      <% }%>
        <form class="row g-3" action="/auth/signupcompany" method="POST">
          <div class="col-md-6">
            <label for="inputUsername1" class="form-label">User Name:</label>
            <input type="username" class="form-control" name="username" id="inputUsername1" placeholder="user Name should be unique">
          </div>
          <div class="col-md-6">
            <label for="inputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail1">
          </div>
          <div class="col-md-6">
            <label for="inputpassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="inputpassword1">
          </div>
          <div class="col-md-6">
            <label for="inputcpassword1" class="form-label">Confirm password</label>
            <input type="password" class="form-control" name="cpassword" id="inputcpassword1">
          </div>
          <div class="col-md-6">
            <label for="inputName1" class="form-label">Company Name</label>
            <input type="text" class="form-control" name="cname" id="inputNaame1">
          </div>
          <div class="col-md-6">
              <label for="inputPhone1" class="form-label">Phone</label>
              <input type="text" class="form-control" name="phone" id="inputPhone1">
            </div>
            <div class="dropdown">
              <div class="form-group col-md-4">
                <label for="inputState">Type</label>
                <select id="inputState" name="type" class="form-control">
                  
                  <option selected >Bus</option>
                  <option>Train</option>
                  <option>Plane</option>
                  <option>Hotel</option>
                </select>
              </div>
            </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary" value="Submit" >Sign Up</button>
          </div>
        </form>
      </div>
      
      
          
      </div>
</div>
<%-include('../../partials/footer.ejs')%>
</body>
</html>