*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 700px; 
    background: rgb(63, 63, 102);
}
main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
  }
  body {
    display: flex;
    flex-direction: column;
  }
.my-container{
    min-height: 700 px;
}
footer{
   
    background: hwb(0 3% 91%);
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
}


